{% if site.disqus %}
<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_shortname='{{ site.disqus }}';
  var disqus_title='{{ page.title }}';
  (function() {
    if(location.port)return;
    js('http://'+disqus_shortname+'.disqus.com/embed.js');
  })();
</script>
{% endif %}

{% if site.duoshuo %}
<div class="ds-thread"></div>
<script type="text/javascript">
  var duoshuoQuery = {short_name:"{{ site.duoshuo }}"};
  (function() {
    if(location.port)return;
    js('http://static.duoshuo.com/embed.js');
  })();
</script>
{% endif %}
